body {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;

}

canvas {
	border: 1px solid black;
	border-radius: 3px;
	background-color: 'purple';
	margin: 0 auto;
}

h1 {
	margin-bottom: 10px;
}

h2 {
	margin-top: 0;
	text-align: center;
}

h3 {
	margin-top: 0;
}

#playmusic {
	background: url("images/mute.png") center no-repeat;
	background-size: contain;
	width: 30px;
	border: none;
	margin: 0;
}

#mutemusic {
	background: url("images/playbutton.png") center no-repeat;
	background-size: contain;
	width: 30px;
	border: none;
	margin: 0;
}

img {
	margin: 0 auto;
	width: 700px;
	height: 400px;
}

.hidden {
	display: none;
}

.show {
	display: block;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.row {
	display: flex;
	justify-content: space-around;
	margin-top: 2px;
	color: #053880;
	margin-bottom: 0;
}

#startscreen {
	width: 700px;
	height: 400px;
	display: flex;
	align-items: center;
}

#startscreen.hidden {
	display: none;
}

#nicecatch {
	margin-top: 40px;
	height: 300px;
}

#panda-image {
	width: 300px;
	height: 300px;
}

button {
	margin: 0 auto;
	width: 300px;
	height: 30px;
	border-radius: 5px;
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
}

#flex-column {
	display: flex;
	flex-direction: column;
}

button:hover {
	border: 3px solid teal;
	animation: wiggle 200ms infinite;
	animation-timing-function: linear;
}

@keyframes wiggle {
	0% { transform: translate(2px, 0); }
	50% { transform: translate(-2px, 0); }
	100% { transform: translate(2px, 0); }
}

.bold {
	font-size: 28px;
}