body {
	font-family: 'Indie Flower', cursive;
	text-align: center;
}

canvas {
	border: 1px solid black;
	border-radius: 3px;
	background-color: 'purple';
	margin: 0 auto;
}


h2 {
	text-align: center;
}

img {
	margin: 0 auto;
	width: 700px;
	height: 400px;
}

.hidden {
	display: none;
}

.show {
	display: block;
	margin: 0 auto;
}
.flex {
	display: flex;
	justify-content: center;
	padding: 10px;
}

#startscreen {
	width: 700px;
	height: 400px;
	display: flex;
	align-items: center;
}
#startscreen.hidden {
	display: none;
}

#nicecatch {
	margin-top: 40px;
	height: 300px;
}

#panda-image {
	width: 300px;
	height: 300px;
}

#startButton {
	margin: 0 auto;
	width: 300px;
	height: 30px;
	border-radius: 5px;
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
}
#flex-column {
	display: flex;
	flex-direction: column;
}
#startButton:hover {
	border: 3px solid teal;
}
span {
	font-size: 18px;
}